.hero-unit {
  position: relative;
  width: 100%;
  padding: 100px;
  background: url('/assets/images/landing-bg.jpg') no-repeat center/cover;
  h1, .lead {
    margin: 0;
    padding: 30px;
    background: rgba(white, .7);
  }
  h1 {
    font: 700 9.9vw 'Montserrat';
    border-bottom: 2px solid black;
  }
  a {
    margin-top: 10px;
  }
}

.selling-points {
  margin: 30px 0;
  .point {
    h2, p {
      text-align: center;
    }
    p {
      font-size: 16px;
    }
  }
}
