<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid translation">
  <div class="row">
    <section class="col-md-6">
      <div class="container-fluid">
        <form>
          <div class="from-to">
            <span>From</span>
            <select id="lang" name="lang" ng-model="fromLang">
              <option ng-repeat="language in languages" value="{{ language.name }}">
                {{ language.name }}
              </option>
            </select>
            <span>to</span>
            <select id="lang" name="lang" ng-model="toLang">
              <option ng-repeat="language in languages" value="{{ language.name }}">
                {{ language.name }}
              </option>
            </select>
          </div>
          <div class="form group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" ng-model="title"/>
          </div>
          <div class="form-group">
            <textarea type="text" ng-model="text"></textarea>
            <i ng-class="{active: on}" ng-click="startStop()" class="fa fa-microphone"></i>
          </div>
          <button type="submit" class="btn btn-primary btn-lg" ng-disabled="notOkToSubmit()" ng-click="submitTranslation()">Request Translation</button>
        </form>
      </div>
    </section>
    <section class="col-md-6">
      <div class="container-fluid">
        <figure>
          <h2>Instructions</h2>
          <ol>
            <li>Specify the “from” &amp; “to” languages.</li>
            <li>Specify a brief title for this translation.</li>
            <li>Specify the Click the blue microphone icon.</li>
            <li>Be sure to click the “allow” button at the top of your screen.</li>
            <li>Be sure to click the “allow” button at the top of your screen.</li>
            <li>Speak into your microphone to specify the text you want translated.</li>
            <li>Edit the text to be translated in the text window.</li>
            <li>Click the “Request Translation” button to submit your text for translation.</li>
            <li>Completed translations will be highlighted in green in the "Queue"</li>
          </ol>
        </figure>
      </div>
    </section>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
