<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid translation">
  <div class="row">
    <section class="col-md-6">
      <div class="container-fluid">

        <form>
          <div class="from-to">
            <span>From</span>
            <select id="lang" name="lang" ng-model="fromLang">
              <option ng-repeat="language in languages" value="{{ language.name }}">
                {{ language.name }}
              </option>
            </select>
            <span>to</span>
            <select id="lang" name="lang" ng-model="toLang">
              <option ng-repeat="language in languages" value="{{ language.name }}">
                {{ language.name }}
              </option>
            </select>
          </div>
          <div class="form group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" ng-model="title"/>
          </div>
          <div class="form-group">
            <textarea type="text" ng-model="text"></textarea>
            <i ng-class="{active: on}" ng-click="startStop()" class="fa fa-microphone"></i>
          </div>
          <button type="submit" class="btn btn-primary btn-lg" ng-disabled="notOkToSubmit()" ng-click="submitTranslation()">Request Translation</button>
        </form>
      </div>
    </section>
    <section class="col-md-6">
      <div class="container-fluid">
        <figure>
          <h3>Click on Queue above to see your completed translations.</h3>
        </figure>
      </div>
    </section>
  </div>
</div>
